<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265229541131-6c6ql8q39ua0pgnbcd8gn7s8qr2oot81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265229541131-6c6ql8q39ua0pgnbcd8gn7s8qr2oot81</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>265229541131-67n8u3jhk2sli1oj63jnmc0t5utuv4m6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAIvWzvucYrpJwwDU69hS6mepKKSI-epo</string>
	<key>GCM_SENDER_ID</key>
	<string>265229541131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bombadu.cryptology</string>
	<key>PROJECT_ID</key>
	<string>cryptology-676ef</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptology-676ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265229541131:ios:1c3fb6cdeec23c527b4c0e</string>
</dict>
</plist>